<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Portal-{% block title %}{% endblock %}</title>
</head>
<body>
<div id="content"></div>

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/github-markdown-css@3.0.1/github-markdown.min.css">
<!-- UIkit CSS -->
<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css"/>

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>


<div uk-sticky="media: 960"
     class="uk-navbar-container tm-navbar-container uk-sticky uk-sticky-fixed uk-active uk-sticky-below">


    <nav class="uk-navbar-container" uk-navbar style="background: #20cfcd8a;">
        <div class="uk-navbar-left">
            <a href="/" class="uk-navbar-item uk-logo">PORTAL</a>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li><a href="/">home</a></li>
                <li><a href="/visualizer">visualizer</a></li>
                <li><a href="/modem">modem</a></li>
                <li><a href="/galaxy">galaxy</a></li>

            </ul>
        </div>
    </nav>

</div>
<div class="uk-grid uk-flex-center">
    <div class="uk-margin-top">

        {% block body %}{% endblock %}

    </div>
</div>
</body>
</html>
