{% extends "base.html" %}
{% block title %}
    demodulator
{% endblock %}


{% block body %}

    <form class="pure-form" action="/modem" method="get">
        <div>
            <legend class="uk-legend">Demodulator</legend>

            <div uk-grid>
                <div class="uk-width-4-5">
                    <div>
                        <textarea class="uk-textarea uk-width-3-4"
                                  name="demodulator-binary"
                                  cols=100 placeholder="binary"
                                  rows="3"
                                  style="width: 100%">{% if demodulator_binary %}{{ demodulator_binary }}{% endif %}</textarea>
                    </div>
                    <div class="uk-margin-top">

                        <textarea class="uk-textarea" name="demodulator-output"
                                  id=""
                                  cols="100" placeholder="result"
                                  rows="3">{{ demodulator_output }}</textarea>
                    </div>
                </div>
                <div class="uk-width-1-5">
                    <button type="submit"
                            class="uk-button uk-button-default uk-button-large">
                        demodulate
                    </button>
                </div>

            </div>

            <hr class="uk-margin-middle">
            <legend class="uk-legend uk-margin-top">Modulator</legend>
            <div uk-grid>
                <div class="uk-width-4-5">

                    <div>
                        <textarea class="uk-textarea uk-width-4-5"
                                  name="modulator-list"
                                  style="width: 100%"
                                  id="" cols="100" rows=1
                                  placeholder="list Example:1 2">{% if modulator_list %}{{ modulator_list }}{% endif %}</textarea>
                    </div>

                    <div class="uk-margin-top">

                        <textarea class="uk-textarea" name="modulator-output"
                                  id=""
                                  cols="100"
                                  rows="2">{{ modulator_output }}</textarea>
                    </div>
                    <div class="uk-margin-top">

                        <textarea class="uk-textarea" name="modulator-func"
                                  id=""
                                  cols="100"
                                  rows="2">{{ modulator_func }}</textarea>
                    </div>
                </div>

                <div class="uk-width-1-5">

                    <button type="submit"
                            class="uk-button uk-button-default uk-button-large">modulate</button>

                </div>
            </div>
            <hr class="uk-margin-middle">
        </div>

    </form>

{% endblock %}



