{% extends "base.html" %}
{% block title %}
    demodulator
{% endblock %}


{% block body %}
    <form class="pure-form" action="/demodulator" method="get">
        <p>
            <label for="value">binary</label>
            <textarea class="uk-textarea" name="value" id="" cols="100"
                      rows="3">{% if base %}{{ base }}{% endif %}</textarea>
            {#                <input type="submit" value="demodulate">#}
            <button type="submit"
                    class="uk-button uk-button-default uk-button-large">
                demodulate
            </button>
        </p>


        <p>
            <label for="value-textare">result</label>
            <textarea class="uk-textarea" name="value-textarea" id=""
                      cols="100"
                      rows="3">{{ value }}</textarea>
        </p>


    </form>

{% endblock %}



