{% extends "base.html" %}
{% block title %}visualizer{% endblock %}


{% block body %}



    <form action="/visualizer" type="get">
        <div uk-grid>
        <div class="uk-width-3-4">
            <textarea name="raw_data" placeholder="[flag, state, data]..."
                      class="uk-textarea uk-width-4-5" cols="100" rows="3"
                      style="width: 100%">{% if raw_data %}{{ raw_data }}{% endif %}</textarea>
        </div>
        <div class="uk-width-1-4">
            <button class="uk-button uk-button-default" type="submit">visualize</button>
        </div>
        </div>
    </form>

    <div class="uk-grid uk-margin">
        {% for image_id in pictures.image_ids %}
        <div>
            <p class="uk-margin-small">
                {{ image_id }}
            </p>

            <canvas id="canvas-{{ image_id }}"
                    width="{{ pictures.width * pictures.scale }}"
                    height="{{ pictures.height * pictures.scale }}"></canvas>
            <script>
                var canvas = document.getElementById("canvas-{{ image_id }}");
                var context = canvas.getContext("2d");
                context.scale({{ pictures.scale }}, {{ pictures.scale }});

                context.fillStyle = "black";
                context.fillRect(0, 0, canvas.width, canvas.height);

                context.fillStyle = "#666";
                context.fillRect({{ -pictures.xmin }}, {{ -pictures.ymin }}, 1, 1);

                context.fillStyle = "#20cfcd";
                context.globalAlpha = 0.2;

                {% for picture in pictures.pictures %}
                    {% if picture.image_id == image_id %}
                        {% for point in picture.points %}
                            context.fillRect({{ point[0] - pictures.xmin }}, {{ point[1] - pictures.ymin }}, 1, 1);
                        {% endfor %}

                    {% endif %}
                {% endfor %}
            </script>

        </div>
        {% endfor %}



    </div>
{#    <div class="uk-grid uk-margin">#}
{##}
{##}
{#        {% for picture in pictures.pictures %}#}
{##}
{#            <div class="uk-width-1-3">#}
{#                <p class="uk-margin-small">#}
{#                    {{ picture.index }}#}
{#                </p>#}
{#                <canvas id="canvas-{{ picture.index }}"#}
{#                        width="{{ pictures.width * pictures.scale }}"#}
{#                        height="{{ pictures.height * pictures.scale }}"></canvas>#}
{#            </div>#}
{##}
{##}
{##}
{#            <script>#}
{#                console.log("{{ pictures.ymin }}~{{ pictures.ymax }}, {{ pictures.xmin }}~{{ pictures.xmax }}")#}
{#                var canvas = document.getElementById("canvas-{{ picture.index }}");#}
{#                var context = canvas.getContext("2d");#}
{#                context.scale({{ pictures.scale }}, {{ pictures.scale }});#}
{##}
{#                context.fillStyle = "black";#}
{#                context.fillRect(0, 0, canvas.width, canvas.height);#}
{##}
{#                context.fillStyle = "#20cfcd";#}
{##}
{#                {% for point in picture.points %}#}
{#                    context.fillRect({{ point[0] - pictures.xmin }}, {{ point[1] - pictures.ymin }}, 1, 1);#}
{#                {% endfor %}#}
{#                context.fillStyle = "#666";#}
{#                context.fillRect({{ -pictures.xmin }}, {{ -pictures.ymin }}, 1, 1);#}
{##}
{#            </script>#}
{#        {% endfor %}#}
{#    </div>#}

{% endblock %}



